.footer {
		// .footer__bg
		&__bg {
            background: url(../img/banner.webp) center/cover no-repeat;
		}
}

.connection {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
    color: #FFFFFF;
		// .connection__info
		&__info {
            flex: 1 0 45%;
            margin-right: 10%;
            min-width: 280px;
		}

		// .connection__info--title
		&__info--title {
            @include adaptiv-font(48,26);
            line-height: 1.5em;
            font-family: Merriweather;
            font-style: normal;
            font-weight: 900;
            margin-bottom: 60px;
            
		}

		// .connection__info--subtitle
		&__info--subtitle {
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 80px;
		}

		// .connection__info--contacts
		&__info--contacts {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 21px;
		}

		// .connection__form
		&__form {
            & form {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
            }
            & label {
                display: block;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 15px;
            }
            & input {
                background-color: transparent;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
                width: 100%;
                font-family: Lato;
                font-style: normal;
                font-weight: 300;
                font-size: 21px;
                line-height: 29px;
            }
            & textarea {
                background-color: transparent;
                width: 100%;
                height: 85px;
                resize: none;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
                font-family: Lato;
                font-style: normal;
                font-weight: 300;
                font-size: 21px;
                line-height: 29px;
            }
            flex: 1 0 45%;
            padding-top: 15px;

		}

		// .connection__form--name
		&__form--name {
            flex: 0 0 45%;
            margin-right: 10%;
		}

		// .connection__form--lastname
		&__form--lastname {
            flex: 0 0 45%;
		}

		// .connection__form--message
		&__form--message {
            flex: 1 1 100%;
            margin-top: 35px;
		}

		// .connection__form--btn
		&__form--btn {
            margin-top: 50px;
            flex: 1 1 100%;
            height: 60px;
            & button {
                width: 100%;
                height: 100%;
                background: #005FA3;
                color: #FFFFFF;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                &:hover {
                box-shadow: 0px 0px 10px 5px #005FA3;
                }
            }
		}
}



.contacts--tel {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 10px 0;

    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 30px;
        background: url(../img/footer/tel.svg) no-repeat center;
        margin-right: 15px;
    }
}
.contacts--mail {
    display: flex;
    align-items: center;
    color: #FFFFFF;

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 30px;
        background: url(../img/footer/mail.svg) no-repeat center;
        margin-right: 15px;
    }
}
.copyright {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

		// .copyright__info
		&__info {
		}

		// .copyright__creator
		&__creator {
		}
}

@media (max-width: 1250px) {
    .copyright {
        height: 55px;
    }
}
@media (max-width: 992px) {
    .connection {
        padding: 60px 0;
    }
    .connection__info {
        margin-right: 30px;
    }
}
@media (max-width: 767px) {
    .connection {
        padding: 20px 0;
        &__info {
            margin: 0px 0px 20px 0px;
            &--title {
                margin-bottom: 20px;
            }
            &--subtitle {
                margin-bottom: 30px;
            }
        }
    }
}