* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html,
body,
li,
ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    background: #e5e5e5;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    /* height: 100vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 880px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
}
.card:hover {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.card:hover a {
    color: #00acdc;
}
.card:hover .card__button {
    background-color: white;
}
.card__img {
    width: 160px;
    height: 134px;
    margin: 15px 5px;
}
.card__title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
    cursor: pointer;
}
.card__subtitle {
    margin-top: 5px;
    font-size: 11px;
    line-height: 13px;
}
.card__rating {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
}
li:hover svg {
    fill: #f5b411;
}

.reting__review {
    font-size: 11px;
    line-height: 13px;
}
.card__price {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.price__title {
    font-size: 11px;
    line-height: 13px;
    align-self: flex-end;
}
.price__cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.card__button {
    margin-top: 20px;
    background: #00acdc;
    display: flex;
    justify-content: center;
    border: 1px solid #00acdc;
    border-radius: 5px;
}
.card__button a {
    color: #ffffff;
    padding: 12px 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}
